[Unit]
Description=My Updater Service

[Service]
ExecStart=/bin/bash /root/security-updates.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
